@import "../../../../theme/variables";

.addText {
  cursor: pointer;
  fill: color($colors, light);
  font-size: 30px;
  text-anchor: middle;
  alignment-baseline: central;
}

.addButton {
  cursor: pointer;
  fill: color($colors, secondary);
}

.node {
  cursor: pointer;
  transition: stroke-width 0.1s ease-out,
  fill 0.1s ease-out,
  stroke 0.1s ease-out;

  stroke: white;
  stroke-width: 0.25px;
}

.selected {
  cursor: pointer;
  transition: stroke-width 0.1s ease-out,
  fill 0.1s ease-out,
  stroke 0.1s ease-out;

  stroke: color($colors, danger);
  stroke-width: 1.25px;
}

.node-name {
  font-family: sans-serif;
  text-anchor: middle;
  alignment-baseline: central;
  font-weight: 300;
  fill: color($colors, dark);
}
