<ion-list>
  <ion-item>
    <ion-label color="primary" stacked>Add Tag</ion-label>
    <ion-input placeholder="New Tag"></ion-input>
  </ion-item>

  <div>
    <ion-chip>
      <ion-label>Monthly</ion-label>
      <button ion-button>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-chip>

    <ion-chip>
      <ion-label>Monthly</ion-label>
      <button ion-button>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-chip>

    <ion-chip>
      <ion-label>Monthly</ion-label>
      <button ion-button>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-chip>

    <ion-chip>
      <ion-label>Monthly</ion-label>
      <button ion-button>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-chip>
  </div>

  <ion-item no-padding>
    <!--<ion-label color="primary" stacked>Links</ion-label>-->
    <ion-searchbar [(ngModel)]="searchValue"
                   (ionInput)="searchCards($event)"
                   placeholder="Link other cards"></ion-searchbar>

    <div>
      <ion-chip *ngFor="let card of foundCards" style="float: left">
        <ion-label>{{card.title}}</ion-label>
        <button ion-button color="secondary" (click)="addLink(card)" *ngIf="canAddLink(card)">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-chip>
    </div>
  </ion-item>

  <div>
    <ion-chip *ngFor="let c of card?.links">
      <ion-label>{{c.title}}</ion-label>
      <button ion-button (click)="removeLink(c)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-chip>
  </div>

</ion-list>
