<ion-list>
  <ion-item-group>
    <ion-item-divider color="light">Tags</ion-item-divider>
    <ion-item no-padding>
      <ion-searchbar [(ngModel)]="searchTagValue"
                     (ionInput)="searchTags($event)"
                     placeholder="Add tag"></ion-searchbar>

      <div>
        <ion-chip *ngFor="let tag of foundTags" style="float: left">
          <ion-label>{{tag.name}}</ion-label>
          <button ion-button color="secondary" (click)="addTag(tag)" *ngIf="canAddTag(tag)">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-chip>
      </div>
    </ion-item>

    <div>
      <ion-chip *ngFor="let tag of card?.tags">
        <ion-label>{{tag.name}}</ion-label>
        <button ion-button (click)="removeTag(tag)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-chip>
    </div>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">Card Links</ion-item-divider>
    <ion-item no-padding>
      <ion-searchbar [(ngModel)]="searchValue"
                     (ionInput)="searchCards($event)"
                     placeholder="Link other cards"></ion-searchbar>

      <div>
        <ion-chip *ngFor="let card of foundCards" style="float: left">
          <ion-label>{{card.title}}</ion-label>
          <button ion-button color="secondary" (click)="addLink(card)" *ngIf="canAddLink(card)">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-chip>
      </div>
    </ion-item>

    <div>
      <ion-chip *ngFor="let link of card?.links">
        <ion-label>{{link.title}}</ion-label>
        <button ion-button (click)="removeLink(link)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-chip>
    </div>
  </ion-item-group>

</ion-list>
